/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --main-color: #2F55D4;
    --text-color-primary: #161C2D;
    --text-color-secondary: #5B657C;
    --text-color-grey: #F8F9FC;
    --warning--100: #FFFAD2;
    --warning--700: #B7950F;
    --neutral--300: #E0E0E0;
    --success--100: #E0FDD7;
    --success--700: #1C9B44;
    --line-color: #CCD2E3;
    --text-color-footer: #ADB5BD;
    --text-color-white: white;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Nunito', sans-serif;
}

p {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

.lh-0 {
    line-height: inherit;
}

.about-section {
    overflow-x: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.main-color {
    color: var(--main-color);
}

.text-color-primary {
    color: var(--text-color-primary);
}

.text-color-white {
    color: var(--text-color-white);
}

.text-color-secondary {
    color: var(--text-color-secondary);
}

.text-color-grey {
    color: var(--text-color-grey);
}

.warning--100 {
    color: var(--warning--100);
}

.warning--700 {
    color: var(--warning--700);
}

.neutral--300 {
    color: var(--neutral--300);
}

.line-color {
    color: var(--line-color);
}

.fw-extra-bold {
    font-weight: 800;
}

.fw-bold {
    font-weight: bold;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.text-small-1 {
    font-size: 13px;
    line-height: 18px;
}

.text-body-1 {
    font-size: 18px;
    line-height: 26px;
}

.text-body-2 {
    font-size: 16px;
    line-height: 30px;
}

.text-color-footer {
    color: var(--text-color-footer);
}

.text-h1 {
    font-size: 39px;
    line-height: 53px;
}

.text-h3 {
    font-size: 25px;
    line-height: 34px;
}

.text-h4 {
    font-size: 20px;
    line-height: 27px;
}

.text-header {
    font-size: 88px;
    line-height: 100px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.button-main-small {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px 28px;
    background-color: var(--main-color);
    outline: none;
    border: none;
    border-radius: 6px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.button-main-small:hover {
    -webkit-box-shadow: 0px 10px 28px rgba(47, 85, 212, 0.22);
    box-shadow: 0px 10px 28px rgba(47, 85, 212, 0.22);
}

.button-secondary-small {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 6px;
    outline: none;
    background-color: white;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button--floating {
    position: fixed;
    bottom: 5px;
    background-color: #2F55D4;
    width: 60px;
    height: 60px;
    z-index: 99;
    right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 6px;
}

.button--floating.active {
    opacity: 1;
}

.main-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(23, 29, 46, 0.8);
    z-index: 999999999;
    padding-left: 245px;
    padding-right: 245px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.main-modal.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.main-modal video {
    width: 100%;
    height: auto;
    position: relative;
}

.main-modal button {
    outline: none;
    border: none;
    padding: 17px;
    border-radius: 100%;
    position: relative;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4.29231px);
    backdrop-filter: blur(4.29231px);
}

.main-modal button img {
    width: 30px;
}

.button-secondary-small:hover {
    background-color: var(--main-color);
    color: white;
}

.wrapper-nav {
    position: sticky;
    top: 0;
    z-index: 999999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav__bar {
    display: none;
}

.nav-items {
    background-color: #F6F7F8;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 0;
    top: 55px;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
}

.nav-items .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-items .container>p {
    padding: 12px 0;
    text-align: center;
}

.nav-items .container>.main-dropdown {
    position: relative;
    left: 12px;
    padding: 12px 0;
}

.nav-items .container>button {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;
}

.main-nav__item {
    position: relative;
    top: 0.75rem;
}

.main-nav__item p {
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.main-nav__item .main-dropdown {
    margin-left: 35px;
    margin-right: 35px;
}

.main-nav__item .main-dropdown p {
    padding-left: 0;
    padding-right: 0;
}

.main-dropdown img {
    position: relative;
    bottom: 2px;
    padding-left: 6px;
}

.main-dropdown {
    position: relative;
    cursor: pointer;
}

.main-dropdown__content {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}

.main-dropdown__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 7px solid #495057;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 15%);
    box-shadow: -2px 2px 2px -1px rgb(60 72 88 / 15%);
}

.main-dropdown:hover .main-dropdown__content {
    display: inline-block;
}

.main-dropdown__content__text {
    padding: 10px 20px;
    cursor: pointer;
    line-height: 100%;
    font-size: 14px;
}

.main-dropdown__content__text:hover {
    color: var(--main-color);
}


.bg-header {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80vh;
    top: 0;
    z-index: -2;
}

.header {
    margin-top: 60px;
}


.header__content--main-text img {
    width: 31px;
    height: 38px;
}

.header__video img {
    width: 100%;
    cursor: pointer;
}

.header__video__wrapper {
    position: relative;
    background-color: #020202;
    border-radius: 16px;
    -webkit-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    -webkit-box-shadow: 20px 16px #ebe2ff, 20px 16px 0 2px #2f55d4, 20px 16px 50px 2px rgb(141 168 255 / 18%);
    box-shadow: 20px 16px #ebe2ff, 20px 16px 0 2px #2f55d4, 20px 16px 50px 2px rgb(141 168 255 / 18%);
    width: 100%;
    height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__video__wrapper::before {
    mix-blend-mode: overlay;
    position: absolute;
    z-index: -1;
    content: "";
    width: 90%;
    height: 50%;
    top: 0;
    background: rgba(47, 85, 212, 0.14);
    -webkit-transform: skewX(0) skewY(14deg) translateX(16px);
    -ms-transform: skewX(0) skewY(14deg) translateX(16px);
    transform: skewX(0) skewY(14deg) translateX(16px);
    border-radius: 16px;
}

.header__video__wrapper video {
    -webkit-transform: skew(0, 5deg);
    -ms-transform: skew(0, 5deg);
    transform: skew(0, 5deg);
    width: 100%;
}

.header__video__wrapper .icon--play {
    position: absolute;
    left: 50%;
    z-index: 99;
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: skew(0, 5deg);
    -ms-transform: skew(0, 5deg);
    transform: skew(0, 5deg);
    border-radius: 100000px;
}

.header__video__wrapper .icon--stamp {
    position: absolute;
    top: -16%;
    right: -10%;
    z-index: 99;
    -webkit-transform: skew(0, 5deg);
    -ms-transform: skew(0, 5deg);
    transform: skew(0, 5deg);
    border-radius: 10000px;
}

.about-section {
    margin-top: 80px;
}

.about--end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.row-carousel {
    margin-top: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-carousel {
    position: relative;
}

.main-carousel .owl-dots {
    position: relative;
    right: 10%;
}

.owl-dot span {
    background-color: var(--neutral--300);
    width: 8px !important;
    height: 8px !important;
}

.owl-dot.active span {
    background-color: var(--main-color) !important;
    width: 24px !important;
    height: 8px !important;
}

.wrapper-carousel {
    position: relative;
}

.main-carousel__item img {
    -webkit-transform: skew(-5deg, 0deg);
    -ms-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
    -webkit-box-shadow: 20px 16px #fff, 20px 16px 0 2px #2f55d4;
    box-shadow: 20px 16px #fff, 20px 16px 0 2px #2f55d4;
    width: 80% !important;
    height: auto;
    border-radius: 16px;
    margin: 3rem;
}

.btn--carousel {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
    box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
    border-radius: 1000px;
    outline: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    z-index: 2;
}

.btn--carousel:hover {
    background-color: var(--main-color);
}

.btn--carousel:hover.btn--carousel svg path {
    fill: white;
}

.btn--carousel svg path {
    fill: var(--main-color);
}

.btn--carousel:nth-child(1) {
    left: 5%;
}

.btn--carousel:nth-child(3) {
    right: 8%;
}

.btn--carousel-only-mobile {
    display: none;
}

.main-card {
    background-color: var(--text-color-grey);
    padding: 60px 50px;
    border-radius: 16px;
}

.main-card__text {
    margin-left: 30px;
}

.main-card__text button {
    margin-top: 30px;
}

.botza-came-down {
    position: relative;
    left: 25%;
    top: 20px;
    z-index: -1;
}

.link-snappy {
    position: absolute;
    right: 0;
    margin-top: -40px;
}

.our-internal {
    margin-top: 140px;
    text-align: center;
}

.warning--label {
    color: var(--warning--700);
    background-color: var(--warning--100);
    padding: 4px 10px;
    border-radius: 8px;
    display: inline-block;
}

.success--label {
    color: var(--success--700);
    background-color: var(--success--100);
    padding: 4px 10px;
    border-radius: 8px;
    display: inline-block;
}

.feature {
    margin-top: 50px;
}

.feature__item {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--neutral--300);
}

.feature__item__text h3 {
    padding-top: 24px;
    padding-bottom: 10px;
}

.feature__item__picture div {
    width: 160px;
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    padding: 12px;
}

.feature__item__picture div img {
    width: 80px;
    height: 80px;
}

.feature__item__picture div:hover {
    -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.08);
    box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.08);
    background-color: white;
}

.feature__item__picture img {
    width: 80px;
    height: 80px;
    margin-bottom: 14px;
}

.feature__item:last-child {
    border-bottom: none;
}

.tools__text img {
    width: 100%;
    margin-top: 40px;
}

.tools__card img {
    width: 150px;
    height: 150px;
}

.fun-things {
    position: relative;
}

.fun-things--image {
    cursor: pointer;
    width: 100%;
}

.fun-things svg {
    position: absolute;
    right: 0;
    top: 0;
}

.work-culture {
    margin-top: 140px;
}

.images-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12.5% 30px 12.5% 30px auto 30px 12.5% 30px 12.5%;
    grid-template-columns: 12.5% 12.5% auto 12.5% 12.5%;
    -ms-grid-rows: 164px 30px 164px 30px 164px;
    grid-template-rows: 164px 164px 164px;
    grid-gap: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.images-grid>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.images-grid>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.images-grid>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.images-grid>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.images-grid>*:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

.images-grid>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.images-grid>*:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.images-grid>*:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.images-grid>*:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.images-grid>*:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
}

.images-grid>*:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.images-grid>*:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.images-grid>*:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.images-grid>*:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.images-grid>*:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
}

.images-grid__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.images-grid__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
}

.images-grid__item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
}

.images-grid__item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
}

.images-grid__item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}

.images-grid__item:nth-child(7) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}

.images-grid__item:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}

.images-grid__item:nth-child(9) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
}

.founding {
    position: relative;
    margin-top: -30px;
}

.founding__card-group {
    margin-top: 80px;
}

.founding--card {
    -webkit-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    padding: 10px;
    -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.08);
    box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.08);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    background-color: white;
}

.founding--card img {
    -webkit-transform: skew(0deg, 5deg);
    -ms-transform: skew(0deg, 5deg);
    transform: skew(0deg, 5deg);
}

.founding--card:hover {
    -webkit-box-shadow: 20px 16px white, 20px 16px 0 2px #2f55d4, 20px 16px 50px 2px rgb(141 168 255 / 18%);
    box-shadow: 20px 16px white, 20px 16px 0 2px #2f55d4, 20px 16px 50px 2px rgb(141 168 255 / 18%);
    background-color: var(--main-color);
}

.founding--card:hover .founding--card__details {
    background-color: white;
    margin-top: -100px;
    padding-bottom: 80px;
}

.founding--card:hover .founding--card__details h3 {
    color: var(--main-color);
}

.founding--card:hover .founding--card__details span {
    color: var(--text-color-primary);
}

.founding--card:hover .founding--card__details h4 {
    color: var(--text-color-secondary);
}

.founding--card__details {
    padding: 15px 30px;
    background: #2F55D4;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border-radius: 15.0923px;
    color: white;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 100%;
    position: relative;
    margin-top: -20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
}

.founding--card__details__icon {
    position: absolute;
    bottom: -100px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.founding--card__details__icon img {
    margin-right: 18px;
}

.founding--card:hover .founding--card__details__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 30px;
}

.founding--details__card {
    padding: 50px;
    background-color: var(--text-color-grey);
    border-radius: 16px;
    width: 100%;
}

.founding--details__card p {
    margin-top: 10px;
}

.main-table {
    margin-top: 80px;
    padding: 40px;
    -webkit-box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.15);
    box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.15);
    border-radius: 16px;
    margin-bottom: 10px;
    background-color: white;
}

.main-table__filter {
    gap: 30px;
}

.main-table__data {
    margin-top: 30px;
}

.main-table__data__header {
    padding: 30px 0;
    border-top: 1px solid var(--neutral--300);
    border-bottom: 1px solid var(--neutral--300);
}

.main-table__data__item {
    padding: 30px 0;
    border-bottom: 1px solid var(--neutral--300);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.main-table__data__item:hover {
    background-color: #F8F9FC;
}

.main-table__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
}

.main-table__footer__filter-page p {
    white-space: nowrap;
    margin-right: 10px;
    line-height: 28px;
}

.button--table {
    padding: 7px 7px 7px 10px;
    border: 1px solid var(--neutral--300);
    border-radius: 6px;
    outline: none;
    background: none;
    font-size: 14px;
    color: var(--text-color-secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.button--table svg path {
    fill: var(--text-color-secondary);
}

.button--table:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.button--table:hover svg path {
    fill: var(--main-color);
}

.prev--button-table {
    margin-right: 12px;
    margin-left: 30px;
}

.chip {
    padding: 7px 10px;
    border: 1px solid var(--neutral--300);
    border-radius: 6px;
    margin-right: 10px;
}

.our-team {
    margin-top: -10px;
}

.our-team__devza {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.wrapper-map {
    margin-top: 40px;
    position: relative;
}

.wrapper-map__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    z-index: 9999;
    padding: 6px;
    -webkit-box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.04);
    box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.04);
    border-radius: 6px;
}

.wrapper-map input {
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.wrapper-map input:checked+label {
    background: var(--main-color);
    color: white;
    font-weight: bold;
}

.wrapper-map label {
    color: var(--text-color-secondary);
    font-size: 18px;
    padding: 6px 18px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: .1s all;
    -o-transition: .1s all;
    transition: .1s all;
}


#map {
    width: 100%;
    height: 600px;
    border-radius: 12px;
}

.marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    position: relative;
    overflow: hidden;
}

.marker:hover {
    padding-right: 50px;
}

.marker:hover .marker__arrow {
    display: none;
}

.marker:hover .marker__text {
    display: block;
}

.marker img {
    width: 64px;
    height: 64px;
    border: 2px solid #2f55d4;
    background: #2f55d4;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.marker__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
}

.marker__arrow svg:nth-child(1) path {
    -webkit-animation: arrow_first_animation 1s ease-in-out infinite;
    animation: arrow_first_animation 1s ease-in-out infinite;
}

.marker__arrow svg:nth-child(2) path {
    -webkit-animation: arrow_second_animation 1s ease-in-out infinite;
    animation: arrow_second_animation 1s ease-in-out infinite;
}

.marker__text {
    display: none;
    margin-left: 10px;
}

.marker__text h3 {
    font-size: 13px;
    line-height: 18px;
    color: var(--text-color-primary);
    margin: 0;
}

a.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 20px !important;
    right: 20px !important;
}

.mapboxgl-ctrl-group {
    background: none;
}

.mapboxgl-ctrl-group:not(:empty) {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.mapboxgl-ctrl-group button {
    width: 50px;
    height: 50px;
    background: white;
    margin: 5px 0;
    -webkit-box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.04);
    box-shadow: 0px 18px 48px rgba(41, 41, 62, 0.04);
    border-radius: 6px !important;
    outline: none;
    border: none;
}

.mapboxgl-ctrl-group button:hover {
    background: white !important;
    border-radius: 6px !important;
}

.mapboxgl-ctrl-group button:nth-child(1) span {
    background-image: url(./assets/images/Add_ring.svg) !important;
}

.mapboxgl-ctrl-group button:nth-child(2) span {
    background-image: url(./assets/images/Remove.svg) !important;
}

.our-team__nationality {
    margin-top: 60px;
}

.our-team__nationality__flag h3 {
    margin-left: 10px;
}

.our-team__nationality__flag {
    margin-bottom: 10px;
}

.our-team__nationality .accordion-button {
    margin-top: 10px;
    padding: 0;
    border: none;
    background: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.our-team__nationality .accordion-button:not(.collapsed) {
    color: var(--text-color-secondary) !important;
}

.our-team__nationality .accordion-button::after {
    background-image: url('./assets/images/maps-location/Expand_down.svg');
}

.our-team__nationality .accordion-item {
    border: none !important;
}

.our-team__nationality .accordion-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid #2F55D4;
    border-radius: 999999999px;
}

.our-team__nationality .accordion {
    margin-top: 30px;
}

.blog__post {
    margin-top: 60px;
}

.blog__post__item h2 {
    margin-top: 24px;
    margin-bottom: 20px;
}

.blog__post__item .d-flex img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border: 2px solid #2F55D4;
    border-radius: 999999999px;
}

.blog__post__item .d-flex h3 {
    margin-bottom: 0px;
}

.blog__post .owl-dots {
    margin-top: 60px !important;
}

.footer {
    background-color: #202942;
    margin-top: 140px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer__logo img {
    margin-bottom: 30px;
}

.footer__logo .d-flex {
    margin-top: 30px;
    gap: 10px;
}

.footer h1 {
    margin-bottom: 30px;
}

.text-list {
    margin-bottom: 12px;
}

.text-list::before {
    content: '';
    display: inline-block;
    background-image: url('./assets/images/Expand_right_white.svg');
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin-right: 8px;
}

.footer__input {
    margin-top: 40px;
}

.footer__input__form {
    background-color: #27314F;
    border-radius: 6px;
    padding: 13px 20px;
}

.footer__input__form input {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    margin-left: 14px;
    font-size: 14px;
}

.footer__input__form input::-webkit-input-placeholder {
    color: #ADB5BD;
    font-size: 14px;
}

.footer__input__form input::-moz-placeholder {
    color: #ADB5BD;
    font-size: 14px;
}

.footer__input__form input:-ms-input-placeholder {
    color: #ADB5BD;
    font-size: 14px;
}

.footer__input__form input::-ms-input-placeholder {
    color: #ADB5BD;
    font-size: 14px;
}

.footer__input__form input::placeholder {
    color: #ADB5BD;
    font-size: 14px;
}

.footer__news__letter button {
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 6px;
    color: white;
    padding: 12px;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer small {
    display: block;
    position: relative;
    margin-top: -52px;
}

@media(min-width: 1400px) {
    .container {
        max-width: 1140px !important;
    }
}

@media (max-width:992px) {
    .main-nav__bar {
        display: block;
    }

    .footer small {
        display: block;
        margin-top: unset;
    }

    .main-nav__button {
        display: none;
    }

    .main-nav__item {
        display: none !important;
    }

    .active-nav-mobile .nav-items {
        height: 250px;
        min-height: 40px;
        max-height: 400px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .feature__item__text {
        margin-top: 35px;
    }

    .text--item-subtitle {
        margin-right: 86px;
    }

    .images-grid {
        grid-gap: 15px;
    }

    .images-grid__img {
        width: 100%;
    }

    .what-is-link {
        margin-top: 35px;
    }

    .header__content--main-text {
        position: relative;
        left: 10px;
    }
}

.wrapper-nav.scrolled {
    background-color: white;
    -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
    box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
}

.responsive--arrow svg:nth-child(2) {
    display: none;
}

.d-none-mobile {
    display: block;
}

.d-show-mobile {
    display: none;
}

.our-story .responsive--arrow svg:nth-child(1) {
    width: 100%;
}

.who-are-we .responsive--arrow svg:nth-child(1) {
    width: 100%;
}

.our-experience .responsive--arrow svg:nth-child(1) {
    width: 100%;
}

.main-table__filter input:focus,
.main-table__filter select:focus {
    border: 1px solid #2F55D4;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.main-table__data__item .text--item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #161C2D;
}

.main-table__data__item .text--item-subtitle {
    font-size: 18px;
    line-height: 20px;
    color: #5B657C;
    font-weight: normal;
}

.dot--images {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: -1;
}

.our-story {
    position: relative;
}

.our-story .dot--images {
    right: -30%;
    top: 60px;
}

.building-botza {
    position: relative;
}

.building-botza .dot--images {
    left: -30%;
    top: 120px;
}

.how-botza {
    position: relative;
}

.how-botza .dot--images {
    right: -30%;
    top: 150px;
}

.tools {
    position: relative;
}

.tools .dot--images {
    right: -30%;
    top: -80%;
}

.fun-things .dot--images:nth-child(1) {
    left: -30%;
    top: -80%;
}

.fun-things .dot--images:nth-child(2) {
    right: -30%;
}

.founding .dot--images {
    left: -30%;
    top: -250px;
}

.our-experience .dot--images {
    left: -30%;
    top: 20px;
}

.current-openings .dot--images {
    right: -30%;
    left: unset;
    top: 100px;
}

.our-team .dot--images {
    left: -30%;
    top: -500px;
}

.our-team__nationality .dot--images {
    left: unset;
    right: -30%;
    top: -200px;
}

@media (max-width:1439px) {
    .main-modal {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:992px) {
    .main-modal button {
        padding: 8px;
        left: 5px;
    }

    .main-modal button img {
        width: 16px;
    }

    .main-modal {
        padding-left: 40px;
        padding-right: 40px;
    }

    .wrapper-nav {
        background-color: white;
        -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
        box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
    }

    .header .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .header__content--main-text {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__video {
        margin-top: 21px;
    }

    .our-story {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .responsive--arrow svg:nth-child(1) {
        display: none;
    }

    .responsive--arrow svg:nth-child(2) {
        display: block;
    }

    .mirrored--arrow {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .justify-end-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: end !important;
    }

    .row-carousel {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .main-card__text {
        width: 100%;
    }

    .main-card__text button {
        width: 100%;
    }

    .owl-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 0 !important;
    }

    .btn--carousel {
        display: none;
    }

    .btn--carousel-only-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        position: absolute;
        right: 25px;
        bottom: 0;
    }

    .btn--carousel-only-mobile div {
        width: 40px;
        height: 40px;
        background-color: white;
        -webkit-box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
        box-shadow: 0px 8px 28px rgba(41, 41, 62, 0.12);
        border-radius: 1000px;
        outline: none;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
        z-index: 2;
    }

    .btn--carousel-only-mobile div:hover {
        background-color: var(--main-color);
    }

    .btn--carousel-only-mobile div:hover svg path {
        fill: white;
    }

    .how-botza {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .our-internal {
        margin-top: 30px;
    }

    .feature__item {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .feature__item__picture {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .feature__item__picture img {
        width: 160px;
        height: 160px;
    }

    .tools__text__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 60px;
    }

    .fun-things svg {
        position: unset;
    }

    .fun-things img {
        width: 100%;
    }

    .work-culture {
        margin-top: 10px;
    }

    .d-none-mobile {
        display: none !important;
    }

    .images-grid {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        -ms-grid-rows: unset;
        grid-template-rows: unset;
    }

    .images-grid>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .images-grid>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .images-grid__item {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .images-grid__item:nth-child(3) {
        -ms-grid-column: 1 !important;
        -ms-grid-column-span: 2 !important;
        grid-column: 1/3 !important;
    }

    .images-grid__item:nth-child(8) {
        -ms-grid-column: 1 !important;
        -ms-grid-column-span: 2 !important;
        grid-column: 1/3 !important;
    }

    .images-grid__item:nth-child(9) {
        -ms-grid-column: 1 !important;
        -ms-grid-column-span: 2 !important;
        grid-column: 1/3 !important;
    }

    .founding {
        margin-top: 30px;
    }

    .founding--details__card {
        display: none;
    }

    .current-openings {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .main-table__filter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main-table__filter select {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .main-table__filter input {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .main-table__filter button {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .d-show-mobile {
        display: unset;
    }

    .main-table__data__item button {
        margin-top: -44px;
    }

    .main-table__footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .our-team__nationality__flag:not(first-child) {
        margin-top: 30px;
    }

    .owl-stage {
        padding-left: 0 !important;
    }

    .blog {
        position: relative;
    }

    .button--view-all-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .footer h1 {
        margin-top: 20px;
    }

    .our-team__devza img {
        width: 100%;
    }

    .prev--button-table {
        margin-left: 0;
    }

    .chip {
        text-align: center;
        font-size: 12px;
    }

    .tools__text__img img {
        width: 100%;
    }

    .main-card {
        padding: 42px 30px;
    }

    .main-carousel__item img {
        margin: 1rem;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .about-section {
        margin-top: 0;
    }

}

@media(max-width:576px) {
    .images-grid__item {
        width: 100%;
    }

    .images-grid__item:nth-child(3) {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .images-grid__item:nth-child(8) {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .images-grid__item:nth-child(9) {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .header__video__wrapper .icon--stamp {
        right: 0;
    }

    .text-header {
        font-size: 44px;
        line-height: 120%;
    }

    .text-h1 {
        font-size: 20px;
        line-height: 150%;
    }

    .text-body-1 {
        font-size: 14px;
        line-height: 150%;
    }

    .text-body-2 {
        font-size: 12px;
        line-height: 150%;
    }

    .text-h3 {
        font-size: 16px;
        line-height: 150%;
    }

    .text-h4 {
        font-size: 20px;
        line-height: 150%;
    }

    .header__content--main-text img {
        width: 18.64px;
        height: 21.2px;
    }
}



[data-aos="dash"] {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

[data-aos="dash"].aos-animate {
    stroke-dashoffset: 0;
}

[data-aos="dash-long"] {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}

[data-aos="dash-long"].aos-animate {
    stroke-dashoffset: 0;
}



@-webkit-keyframes arrow_first_animation {
    0% {
        fill: var(--line-color);
    }

    50% {
        fill: var(--text-color-secondary)
    }

    100% {
        fill: var(--line-color);
    }
}

@keyframes arrow_first_animation {
    0% {
        fill: var(--line-color);
    }

    50% {
        fill: var(--text-color-secondary)
    }

    100% {
        fill: var(--line-color);
    }
}

@-webkit-keyframes arrow_second_animation {
    0% {
        fill: var(--text-color-secondary);
    }

    50% {
        fill: var(--line-color)
    }

    100% {
        fill: var(--text-color-secondary);
    }
}

@keyframes arrow_second_animation {
    0% {
        fill: var(--text-color-secondary);
    }

    50% {
        fill: var(--line-color)
    }

    100% {
        fill: var(--text-color-secondary);
    }
}